<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <div class="container mt-5 mb-5">
    <h1>Welcome to the Blog!</h1>

    <div class="btn-group" role="group" aria-label="logreg">
        <button type="button" class="btn btn-secondary" onclick="location.href = '/login';">Login/Logout</button>
        <button type="button" class="btn btn-secondary" onclick="location.href = '/registration';">Register</button>
<!--        <button type="button" class="btn btn-secondary">Right</button>-->
    </div>
    </div>

    <form method="post" enctype="multipart/form-data" action="/saveImageForXXE">
        <input type="file" name="imageFile">
        <input type="submit" value="Add something to the Server"/>
    </form>

    <div th:insert="blocks/footer :: footer"></div>
</body>
</html>